<div class="col-md-12 p-3 p-md-5" style="
background-image: url('{{gallery}}');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;">
<div class="p-3 p-md-5 bg-white opacity-75">
<a href="{{gallerylink}}">
<img class="img-fluid" alt="{{metadata.title}}" width="100%" height="100%" 
src="{{gallery}}"/>
<p class="text-dark display-4 text-center">Explore Gallery</p>
</a>
</div>
</div>