<header class="col-md-12 p-3 border-bottom border-top">
<h1 class="display-4"><strong><a href="{{metadata.url}}">{{metadata.title}}</a></strong></h1>
</div>
<div class="col-md-12 p-3 border-bottom">
<h2><strong>{{metadata.description}}</strong></h2>
</header>